@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');


 *{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: blanchedalmond;
}

html, body{
    margin: 0 auto;
    padding: 0 auto;
    max-width: 100%;a
}
body{
    background-color: rgba(250, 235, 215, .5); 
    background-image: url("imgs/bg.JPG");
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: auto;
} 
footer li{
    margin: 0;
    padding: 0;
}

.nav li{
    margin: 0px;
    list-style: none;
}

footer li{
    display: inline;
    padding: .5em;
}

.nav a, footer li{
    display: inline-block;
    max-width: 100%;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover, footer li:hover{
    background-color: rgba(255,255,255,.5);
    cursor:pointer;
}
footer li:hover{
    border-radius: 50%;
}

.main-nav { /*border*/
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
    width: 100%;
}

/*margin between border and outside element; 
space between border and content padding */
.main_header {
    background-image: url("imgs/bg.JPG");
    background-blend-mode: overlay;
    background-size: cover;
    padding-bottom: 1em;
    width: 100%;

    position: sticky;
    top: 0;
}

.My_name h4, .My_name h1{
    color: antiquewhite;
    margin: 1px auto;
    font-weight: bold;
}
.My_name h1{
    font-size: large;
    font-weight: 100px;
}
.My_name h4, .My_name h1{
    text-align: center;
}

.h2_frmt {
    font-size: 75px;
    margin: 0px;
    padding-left: 2%;
    margin-top: 2%;
}

/* the part where you manipulate an <img> on the BG*/
.Bg{
    /*make it behind*/
    z-index: -1;
    position: absolute;
    margin: 0 auto;
    /*maket transparent*/
    opacity: 50%;
    background-blend-mode: overlay;

    height: auto;
    max-width: 100%;
    height: fit-content;
    align-items: center;

}

/*About*/
.me {
    padding: 25px 50px;
    color: bisque;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
.pfp {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 400px;
    border-radius: 20%;
}

/*footer*/
.main-footer-container{
    display:flex;
}

.containerv2{
    margin-left: 2%;
    margin-right: auto;
    max-width: 100%;
}


.branding h3{
    font-size: 40px;
    position:sticky;
    margin: 0px;
}

.main-footer ul{
    flex-grow: 1;
    text-align: end;
    margin:0px;
}

footer{
    position: sticky;
    bottom: 0px;
}

footer p{
    margin-bottom: 3%;
}
.containerv3 p{
    margin-top: 10px;
    text-align: center;
    overflow-x: hidden;
}
